.heading1{color: saddlebrown;font-size: 40px;background-color:greenyellow}
#three{color: aqua}
.first{background-color: antiquewhite;padding-top: 30px;padding-left: 50px;padding-bottom: 30px}
.test{display:flex;background-color: darkcyan;padding: 20px}
.paragraph1{margin-left: 20px}
.main{display: flex}
.paragraph2{background-color: crimson}
.paragraph3{background-color: green}
.paragraph4{background-color: blue}